<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' href='todo-app.css'>

</head>

<body>
    <main class="TodoMain">

        <article>
            <h1 class="TodoTitle">My Todo-List</h1>
            <section class="AddTodo">
                <input class="AddTodo-Text" type="text" placeholder="what's next?">
                <input class="AddTodo-Date" type="date" placeholder="dd/mm/yyyy">
                <button class="AddTodo-Button">Add </button>
            </section>

            <section class="TodoSection">
                <div class="TodoSectionTitle">
                    <h2 class="TodoSubtitle">Due Today</h2>
                    <p class="TodoSectionTitle-Count">0/4</p>
                </div>
                <ul class="TodoItem">
                    <li>
                        <div class="TodoItem-Container">
                            <input class="TodoCheckbox" type="checkbox">
                            Submit SaaS 201 Project
                            <img class="Img-Trash" src="trash-can-outline.png">
                        </div>
                    </li>

                    <li>
                        <div class="TodoItem-Container">

                            <input class="TodoCheckbox" type="checkbox">
                            Call Accountant

                            <img class="Img-Trash" src="trash-can-outline.png">


                        </div>
                    </li>


                </ul>
            </section>
            <section class="TodoSection">
                <div class="TodoSectionTitle">
                    <h2 class="TodoSubtitle">Due Tomorrow</h2>
                    <p class="TodoSectionTitle-Count">0/3</p>
                </div>
                <ul class="TodoItem">
                    <li>
                        <div class="TodoItem-Container">
                            <input class="TodoCheckbox" type="checkbox">
                            Refill Groceries
                            <img class="Img-Trash" src="trash-can-outline.png">
                        </div>
                    </li>
                </ul>



            </section>

            <section class="TodoSection">
                <div class="TodoSectionTitle">
                    <h2 class="TodoSubtitle">Remaining</h2>
                    <p class="TodoSectionTitle-Count">0/3</p>
                </div>
                <ul class="TodoItem">
                    <li>
                        <div class="TodoItem-Container">
                            <input class="TodoCheckbox" type="checkbox">
                            Walk Dog
                            <img class="Img-Trash" src="trash-can-outline.png">
                        </div>
                    </li>

                    <li>
                        <div class="TodoItem-Container">
                            <input class="TodoCheckbox" type="checkbox">
                            Clean Car
                            <img class="Img-Trash" src="trash-can-outline.png">
                        </div>
                    </li>
                    <li>
                        <div class="TodoItem-Container">
                            <input class="TodoCheckbox" type="checkbox">
                            Buy Curtains

                            <img class="Img-Trash" src="trash-can-outline.png">


                        </div>
                    </li>
                </ul>



            </section>

        </article>
    </main>
</body>

</html>